doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
    script(src='libs/jquery/dist/jquery.min.js')
    script(src='libs/angular/angular.js')
    script(src='libs/bootstrap/dist/js/bootstrap.min.js')
  body
    block content
